<!DOCTYPE html>
<!--[if lt IE 8]> <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="no-js ie9 oldie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html role="application" class='no-js' lang="zh">
<!--<![endif]-->

<head>
    <title>The Unit Test</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <script type="text/javascript">
    var udeConfig = {
        "centerUrl": "http://localhost:8293",
        nodeStarted: true,
        "packages": {},
        "frontendHost": "http://localhost:8291",
        "appSymbolic": "contents:ihudao.com:microblog",
        "local": {
            "registry": {
                "apps": [{
                    "appId": 33,
                    "userId": 1,
                    "name": "Microblog",
                    "author": "hudao",
                    "avatar": "http://127.0.0.1:3000/uploads/user/avatar/1/IMG_0011.PNG",
                    "authorLink": "#",
                    "isActive": true,
                    "bundle": "ihudao.com:contents:1.0.0:Microblog",
                    "symbolicName": "contents:ihudao.com:microblog",
                    "folderId": 47,
                    "version": "1.0Beta",
                    "updatedAt": "2015-06-18T04:19:08.000Z",
                    "viewCount": 23,
                    "favCount": 6,
                    "addCount": 13,
                    "icon": {
                        "thumb": "/assets/desktop/images/utilhub-app-item/Default.png",
                        "item": "/assets/desktop/images/utilhub-app-item/Default.png",
                        "normal": "/assets/desktop/images/utilhub-app-item/Default.png"
                    },
                    "hasIcon": true,
                    "openFilesType": null,
                    "description": "simpleIDE provides an online integrated development environment.",
                    "createdAt": "2015-04-21T17:13:18.000Z",
                    "parent": "category11",
                    "category": false
                }],
                "controls": [],
                "desktops": [],
                "libs": [],
                "scenes": []
            },
            "products": {
                "baseUrl": "/products",
                "bundles": {
                    "ihudao.com:contents:1.0.0:Microblog": 1
                }
            }
        }

    };
    </script>
</head>

<body class="dbootstrap">
    <script type="text/javascript" src="http://localhost:8291/booter.prod.single.js"></script>
</body>

</html>
