<!DOCTYPE html>
<!--[if lt IE 8]> <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="no-js ie9 oldie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html role="application" class='no-js' lang="zh">
<!--<![endif]-->

<head>
    <title>The Unit Test</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <script type="text/javascript">
    var ude_config = {
        centerUrl: "http://center.utilhub.dt.hudaokeji.com",
        bundleSourceMode : true,
        apiUrl: "http://backend.ihudao.dt.hudaokeji.com",
        nodeStarted: false,
        shellId : 201,
    };
    </script>
</head>

<body class="dbootstrap">
    <script type="text/javascript" src="http://ude.utilhub.dt.hudaokeji.com/booter.prod.js"></script>
</body>

</html>
